#mv-section {
  position: relative;
  padding: 88px 0 0 0;
  @include sp {
    padding: 0;
  }
  .mainvisual {
    z-index: 1;
    width: calc(100% - 376px);
    margin-left: auto;
    @include xl {
      width: calc(100% - 224px);
    }
    @include md {
      padding-bottom: 80px;
      width: calc(100% - 32px);
    }
    @include sp {
      padding-bottom: 64px;
      width: calc(100% - 16px);
    }
    &__image {
      width: 100%;
      border-radius: 0 0 0 80px;
      @include sp {
        border-radius: 0 0 0 20px;
      }
    }
    .mv-pc {
      display: block;
      @include sp {
        display: none;
      }
    }
    .mv-sp {
      display: none;
      @include sp {
        display: block;
      }
    }
    .catch-copy {
      position: absolute;
      bottom: 88px;
      left: 0;
      padding: 88px;
      background: rgb(0, 102, 133);
      background: linear-gradient(90deg, rgba(0, 102, 133, 1) 0%, rgba(8, 172, 222, 0.6) 50%);
      border-radius: 0 40px 40px 0;
      @include xl {
        padding: 40px;
      }
      @include lg {
        bottom: 53px;
        max-width: 492px;
      }
      @include md {
        bottom: 0;
      }
      @include sp {
        padding: 24px 16px;
        width: 288px;
        border-radius: 0 20px 20px 0;
      }
      .sm-ttl {
        padding-bottom: 48px;
        @include lg {
          padding-bottom: 24px;
        }
        @include sp {
          padding-bottom: 16px;
        }
        br {
          @include lg {
            display: none;
          }
        }
      }
      &.top-catch {
        .catch-copy__top {
          padding-bottom: 24px;
          @include sp {
            padding-bottom: 16px;
          }
        }
      }
    }
    &.top-mainvisual {
      @include lg {
        width: calc(100% - 224px);
      }
      @include md {
        padding-bottom: 230px;
        width: calc(100% - 32px);
      }
      @include sp {
        padding-bottom: 204px;
        width: calc(100% - 16px);
      }
    }
  }
}
