#single {
	.news-wrap,
	.works-wrap {
		@include flex(between, start);
		@include lg {
			flex-direction: column-reverse;
		}
	}
	.single-content {
		width: 100%;
		max-width: 736px;
		margin-right: 40px;
		@include lg {
			max-width: 100%;
		}
		&__title {
			padding-bottom: 24px;
			p {
				@include second-truncate;
			}
		}
		.data-category {
			padding-top: 0;
			&--category {
				padding: 0;
				a {
					padding: 8px 16px;
				}
				&.news-catego {
					display: inline-block;
				}
			}
		}
		.icatch {
			width: 100%;
			max-width: 736px;
			border-radius: 40px; //直したやつ
			@include lg {
				max-width: 100%;
				border-radius: 20px; //直したやつ
			}
		}
		&__text {
			padding-top: 24px;
			figure {
				padding-bottom: 24px; //直したやつ
				margin-bottom: 0; //直したやつ
				img {
					height: auto;
				}
			}
			p {
				padding-bottom: 24px;
				&:last-of-type {
					padding-bottom: 0;
				}
			}
			.achievements {
				padding: 24px 0;
				.achievements-box {
					@include flex();
					padding-bottom: 16px;
					@include sp {
						display: block;
					}
					&:last-of-type {
						padding-bottom: 0;
					}
					.label {
						width: 100%;
						max-width: 123px;
						margin-right: 24px;
						@include sp {
							margin-right: 0;
							padding-bottom: 4px;
						}
					}
					p {
						padding-bottom: 0;
					}
				}
			}
			&--img {
				img {
					width: 100%;
					max-width: 736px;
				}
			}
		}
		&__page {
			@include flex(center, center);
			padding-top: 64px;
			@include sp {
				padding-top: 40px;
			}
			.tolist {
				margin: 0 24px;
				@include sp {
					margin: 0 16px;
				}
			}
			.prev-link,
			.next-link {
				@include flex(center, center);
				width: 100%;
				max-width: 64px;
				height: 64px;
				background-color: $color1;
				text-align: center;
				border: 4px solid $color3;
				border-radius: 10px;
				transition: 0.3s;
				@include sp {
					max-width: 56px;
					height: 56px;
					border: 2px solid $color3;
				}
				.fa-chevron-left,
				.fa-chevron-right {
					font-size: 2.4rem;
					@include sp {
						font-size: 2rem;
					}
				}
				&:hover {
					background-color: $color3;
					transition: 0.3s;
					.fa-chevron-left,
					.fa-chevron-right {
						color: $color1;
						transition: 0.3s;
					}
				}
			}
		}
	}
}
